<div id="<%= dom_id artist_song %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Artist:</strong>
    <%= artist_song.artist_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Song:</strong>
    <%= artist_song.song_id %>
  </p>

</div>
