<div id="<%= dom_id playlist_song %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Song:</strong>
    <%= playlist_song.song_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Playlist:</strong>
    <%= playlist_song.playlist_id %>
  </p>

</div>
