<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New playlist song</h1>

  <%= render "form", playlist_song: @playlist_song %>

  <%= link_to "Back to playlist songs", playlist_songs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
