<div class="mx-auto md:w-2/3 w-full mt-24">
  <h1 class="font-bold text-4xl text-gray-300">Editing song</h1>

  <%= render "form", song: @song %>

  <%= link_to "Back to songs", admin_songs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
