<!-- Admin Dashboard -->
<div>
  <h1 class="font-bold text-4xl text-gray-300">Admin::Dashboard#index</h1>
  <!--- Add New-->
  <div class="flex m-5">
    <%= link_to admin_songs_path, class: "flex w-20 h-10 m-2 bg-purple-300 rounded text-slate-800" do %>
      <span class="w-full flex items-center justify-center">Song</span>
    <% end %>

    <%= link_to admin_artists_path, class: "flex w-20 h-10 m-2 bg-purple-300 rounded text-slate-800" do %>
      <span class="w-full flex items-center justify-center">Artist</span>
    <% end %>

    <%= link_to new_admin_album_path, class: "flex w-20 h-10 m-2 bg-purple-300 rounded text-slate-800" do %>
      <span class="w-full flex items-center justify-center">Album</span>
    <% end %>
  </div>
</div>
