<div class="w-full mt-24">
    <% content_for :title, "Artists" %>
    <div class="flex justify-between items-center mb-10 mt-10">
        <h1 class="font-bold text-4xl text-gray-300">Artist Name</h1>
        <%= link_to "New Artist", new_admin_artist_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>

    <div id="artists" class="min-w-full">
        <% @artists.each do |artist| %>
            <% bg_color = cycle('#220c30', '#1d0f30') %>
            <div class="flex w-full items-center justify-between h-20" style="background-color: <%= bg_color %>;">
                <%= link_to admin_artist_path(artist), class: "flex-grow flex items-center w-full h-full cursor-pointer hover:bg-gray-200/10" do %>
                    <div class="flex-grow items-center w-0 ml-10">
                        <h2 class="text-gray-300"><%= artist.name %></h2>
                    </div>
                <%end%>
            </div>
        <% end %>
    </div>
</div>