<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @artist %>

    <%= link_to "Edit this artist", edit_admin_artist_path(@artist), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to artists", admin_artists_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this artist", [:admin, @artist], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
