<div id="playlists" class="flex flex-col w-full">
  <% if current_user.playlists.present? %>
    <% current_user.playlists.each do |playlist| %>
      <%= link_to client_playlist_path(playlist), class: "block hover:bg-gray-100/10 transition duration-300 " do %>
        <div id="<%= dom_id playlist %>" class="flex items-center py-2 px-3">
            <%= image_tag 'love-icon.svg', alt: 'Add', class: 'h-18 w-12 svg-white border ml-1' %>
            <p class="ml-3 text-white">
            <%= playlist.name %>
          </p>
        </div>
      <% end %>
    <% end %>
  <% end %>  
</div>