<h1><%= @playlist.name %></h1>

<p class="text-gray-300 font-extrabold text-3xl p-7">Recommended for you</p>
<div class="flex w-full items-center h-20 text-gray-300">
  <p class="w-80 pl-16">Song</p>
  <p class="flex w-56 items-center justify-center pl-1">Album</p>
  <p class="flex w-44 justify-center pl-3">Duration</p>
</div>

<div id="songs" class="w-full left-0">
  <% @songs.each do |song| %>
    <% bg_color = cycle('#220c30', '#1d0f30') %>
    <div class="flex w-full items-center h-20" style="background-color: <%= bg_color %>;">
      <%= render 'client/playlists/playlist_songs', song: song %>
    </div>
  <% end %>
</div>
