<div id="<%= dom_id artist %>" class="text-gray-300 mt-24">
  <% if artist.image.attached? %>
    <div class="flex w-full h-40 justify-center items-center">
      <%= image_tag url_for(artist.image), class: "w-40" %>
    </div>  
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= artist.name %>
  </p>
</div>
