<div class="flex h-full w-full space-x-4 mt-24">
  <!-- Library -->
  <div class="flex flex-col rounded-lg p-10 shadow-lg w-4/12 h-full" style="background-color: #2D075C;">
    <div class="flex items-center w-full justify-between mb-5">
      <h2 class="text-white text-gray-350 font-extrabold text-3xl">Library</h2>
    </div>

    <div class="flex space-x-4 p-4 justify-center">
      <button class="bg-purple-700 text-gray-400 rounded-full py-0 px-3" style="background-color: #4A2574;">My Playlist</button>
      <button class="bg-purple-700 text-gray-400 rounded-full py-0 px-3" style="background-color: #4A2574;">Others</button>
    </div>

    <div id="playlists" class="w-full flex justify-center text-white mt-20 mb-20">
      Login for playlist
    </div>

  <!-- Home -->
  </div>
  
  <div class="rounded-lg p-7 shadow-lg w-8/12 h-full" style="background-color: #2D075C;">
    A
  </div>
</div>
