<div id="<%= dom_id album_song %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Song:</strong>
    <%= album_song.song_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Album:</strong>
    <%= album_song.album_id %>
  </p>

</div>
